.main
	header#banner
		.container
			.row
				.col-sm-12
					h1.lead Welcome to odonata Project.
			.row
				.col-sm-12.col-md-9
					h2.lead Hello World
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin convallis ipsum nec pharetra molestie. Maecenas eget laoreet sapien. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis consequat metus sed nisi porta auctor. Suspendisse potenti. Vivamus tristique sapien et turpis gravida, a vehicula massa bibendum. Nam nisl dolor, venenatis eu feugiat ut, bibendum quis ligula.
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin convallis ipsum nec pharetra molestie. Maecenas eget laoreet sapien. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis consequat metus sed nisi porta auctor. Suspendisse potenti. Vivamus tristique sapien et turpis gravida, a vehicula massa bibendum. Nam nisl dolor, venenatis eu feugiat ut, bibendum quis ligula.
				.col-sm-12.col-md-3
					.home-login
						h2.lead Login
						form.form(name='form', ng-submit='vm.login(form)', novalidate='')
							.form-group
								label Email
								input.form-control(type='email', name='email', ng-model='vm.user.email')
							.form-group
								label Password
								input.form-control(type='password', name='password', ng-model='vm.user.password')

							.form-group.has-error
								p.help-block(ng-show='form.email.$error.required && form.password.$error.required && vm.submitted')
									| Please enter your email and password.
								p.help-block {{ vm.errors.login }}

							.text-center
								button.btn.btn-success.btn-lg.btn-login(type='submit')
									| Login
								= ' '
								a.btn.btn-primary.btn-lg.btn-register(href='/signup')
									| Register