header#banner.hero-unit
  .container
    h1.lead Login
br
.container
  .row

    .col-sm-12

      .panel.panel-default
        .panel-body
          p
            | Default User account is
            code test@example.com
            | /
            code test
          p
            | Second User account is
            code test2@example.com
            | /
            code test2
          p
            | Admin account is
            code admin@example.com
            | /
            code admin

    //- Left Side
    .col-sm-12.col-md-8

      .panel.panel-default
        .panel-body
          form.form(name='form', ng-submit='vm.login(form)', novalidate)
            .form-group
              label Email
              input.form-control(type='email', name='email', ng-model='vm.user.email')
            .form-group
              label Password
              input.form-control(type='password', name='password', ng-model='vm.user.password')

            .form-group.has-error
              p.help-block(ng-show='form.email.$error.required && form.password.$error.required && vm.submitted')
                | Please enter your email and password.
              p.help-block {{ vm.errors.login }}

            .text-center
              button.btn.btn-inverse(type='submit')
                | Login
              = ' '
              a.btn.btn-default(href='/signup')
                | Register

    //- Right Side
    .col-sm-6.col-md-4

      .panel.panel-default.text-center
        .panel-body
          //- oAuth buttons
          oauth-buttons(classes='btn-block')


  

