header#banner.hero-unit
  .container
    h1.lead QuizBox
.container
  br
  p.lead(style='text-align: center') Create a Quiz ?
  div(style='text-align: center')
    a.btn.btn-success(type='button', href='/quiz/create') New Quiz
  hr
.container
  p.lead(style='text-align: center') All Quizzes
  hr

  .row
    .col-md-12(ng-if='vm.quizzes.length==0')
      .alert.alert-warning(style='text-align: center', role="alert") No Quizzes Found !

    .col-md-12(ng-if='vm.quizzes.length!==0')
      .row
        .col-md-3(ng-repeat='quiz in vm.quizzes')
          .panel.panel-info.quizCard
            .panel-heading
              a(ng-href='/quiz/show/{{quiz._id}}', style='font-size: large') {{quiz.title}}
            .panel-body
              p Description: {{quiz.description}}
              p Created by: {{quiz.user.name}}
              p Date: {{quiz.createdAt|date:'mediumDate'}}
            .panel-footer(style='text-align: center')
              a.btn.btn-primary(role='button', ng-href='/quiz/show/{{quiz._id}}') Show

hr

