#banner {
  border-bottom: none;
  margin-top: -20px;
}
#banner h1 {
  font-size: 40px;
  line-height: 1;
  letter-spacing: -1px;
}
.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

#question-index-container {
  
  .questions-table thead {
    font-size: small;

    .questions-table-head {
      width: 20px;
    }
  }

  .questions-table tbody {
    
    .question-votes,
    .question-views {
      vertical-align: middle;
      div {
        font-size: x-large;
      }
    }
    .question-answers {
      vertical-align: middle;
      .no-best {
        font-size: x-large;
      }
      .has-best {
        font-size: x-large;
        border: 1px solid #00FF00;
      }
    }
    .question-info {
      .star {
        float: right;
        i.fa.fa-star {
          color: #CF7C00;
        }
      }
      a.question-link {
        font-size: medium;
      }
      .question-author {
        float: right;
      }
    }
  }

  .question-search-buttons {
    margin-top: 10px;
  }

  .tags-list {
    list-style: none;
    font-size: large;
  } 
}
