header#banner.hero-unit
  .container
    h1.lead Exchange
.container
  br
  p.lead(style='text-align: center') Something to Ask ?
  div(style='text-align: center')
    a.btn.btn-success(type='button', href='/questions/create') Ask a Question
  hr
  //- .btn-group.btn-group-justified(role='group', aria-label="Question Types")
  //-   .btn-group(role='group')
  //-     button.btn.btn-default(type='button', ng-click='vm.loadQuestions()') All
  //-   .btn-group(role='group')
  //-     button.btn.btn-default(type='button', ng-click='vm.loadMyQuestions()') Mine
  //-   .btn-group(role='group')
  //-     button.btn.btn-default(type='button', ng-click='vm.loadFavoritesQuestions()') Favorites
  //- br
  .row
    .col-xs-6
      div.alert
        p.lead My Last 5 Questions
        table.table.table-striped
          thead
            tr
              th(width='20') Stars
              th(width='20') Answers
              th Question
          tbody
            tr(ng-repeat='myQuestion in vm.myQuestions')
              td(style='text-align: center; vertical-align:middle')
                div(style='font-size: large;') {{myQuestion.stars.length}}
              td(style='text-align: center; vertical-align:middle')
                div(style='font-size: large;') {{myQuestion.answers.length}}
              td
                div(style='float: right;')
                  span.glyphicon.glyphicon-star(ng-if='vm.isStar(myQuestion)', style='color: #CF7C00;')
                  span.glyphicon.glyphicon-star-empty(ng-if='!vm.isStar(myQuestion)')
                a(ng-href='/questions/show/{{myQuestion._id}}', style='font-size: large') {{myQuestion.title}}
                .clearfix
                //- div(style='float: right;')
                //- | by 
                //- a(ng-href='/users/{{myQuestion.user._id}}') {{myQuestion.user.name}}
                //- |  &middot; {{myQuestion.createdAt}}
                //- div
                //-   span(ng-repeat='tag in myQuestion.tags')
                //-     span.label.label-info {{tag.text}}
                //- .clearfix
    .col-xs-6
      div.alert
        p.lead Last 5 Favorites
        table.table.table-striped
          thead
            tr
              th(width='20') Stars
              th(width='20') Answers
              th Question
          tbody
            tr(ng-repeat='favQuestion in vm.favQuestions')
              td(style='text-align: center; vertical-align:middle')
                div(style='font-size: large;') {{favQuestion.stars.length}}
              td(style='text-align: center; vertical-align:middle')
                div(style='font-size: large;') {{favQuestion.answers.length}}
              td
                div(style='float: right;')
                  span.glyphicon.glyphicon-star(ng-if='vm.isStar(favQuestion)', style='color: #CF7C00;')
                  span.glyphicon.glyphicon-star-empty(ng-if='!vm.isStar(favQuestion)')
                a(ng-href='/questions/show/{{favQuestion._id}}', style='font-size: large') {{favQuestion.title}}
                .clearfix
                //- div(style='float: right;')
                //- | by 
                //- a(ng-href='/users/{{favQuestion.user._id}}') {{favQuestion.user.name}}
                //- |  &middot; {{favQuestion.createdAt}}
                //- div
                //-   span(ng-repeat='tag in favQuestion.tags')
                //-     span.label.label-info {{tag.text}}
                //- .clearfix
  hr
.container
  p.lead(style='text-align: center') All Questions
  div(style='text-align: center')
    form.navbar-form(role='search', ng-submit='vm.search(keyword)')
      .input-group
        input.form-control(type='text', placeholder='Search', ng-model='keyword')
        span.input-group-btn
          button.btn.btn-default(type='submit')
            span.glyphicon.glyphicon-search
  br
  table.table.table-striped
    thead
      tr
        th(width='20') Stars
        th(width='20') Answers
        th Question
    tbody(infinite-scroll='vm.nextPage()', infinite-scroll-disabled='busy || noMoreData')
      tr(ng-repeat='question in vm.questions track by $index')
        td(style='text-align: center; vertical-align:middle')
          div(style='font-size: xx-large;') {{question.stars.length}}
        td(style='text-align: center; vertical-align:middle')
          div(style='font-size: xx-large;') {{question.answers.length}}
        td
          div(style='float: right;')
            span.glyphicon.glyphicon-star(ng-if='vm.isStar(question)', style='color: #CF7C00;')
            span.glyphicon.glyphicon-star-empty(ng-if='!vm.isStar(question)')
          a(ng-href='/questions/show/{{question._id}}', style='font-size: large') {{question.title}}
          .clearfix
          div(style='float: right;')
          | by 
          a(ng-href='/users/{{question.user._id}}') {{question.user.name}}
          |  &middot; {{question.createdAt}}
          div
            span(ng-repeat='tag in question.tags')
              span.label.label-info {{tag.text}}
          .clearfix
    div(ng-show='busy') Loading Questions...
  br
