.footer {
  background: #24C6DC; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #24C6DC , #514A9D); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #24C6DC , #514A9D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  color: #FFF;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;

  ul {
    list-style: none;
  }
}
