.footer
  p.lead odonata Project | Angular Fullstack v4.1.0
  ul
    li
      | Angular
      span.label.label-success 1.5.5
    li
      | Bootstrap
      span.label.label-success 3.3.7
    li
      | Node
      span.label.label-success 6.2.2
    li
      | Express
      span.label.label-success 4.13.3
    li
      | Mongoose
      span.label.label-success 4.1.2
    li
      | Pug
      span.label.label-success 2.0.0-beta4
