header#banner.hero-unit
	.container
		h1.lead Admin Portal
br
.container-fluid
	.row

		//- Left Side
		.col-lg-2
			.list-group
				.list-group-item.text-center
					p
						strong {{admin.getCurrentUser().name}}
					span.text-muted {{admin.getCurrentUser().email}}
				a.list-group-item.active(href='#')
					i.fa.fa-tachometer.fa-lg(aria-hidden='true')
					|  &nbsp; Overview
				a.list-group-item(href='/admin/feed')
					i.fa.fa-feed.fa-lg(aria-hidden='true')
					|  &nbsp; Activity
				a.list-group-item(href='/admin/users')
					i.fa.fa-users.fa-lg(aria-hidden='true')
					|  &nbsp; Users
				a.list-group-item(href='#')
					i.fa.fa-line-chart.fa-lg(aria-hidden='true')
					|  &nbsp; Traffic
				a.list-group-item(href='#')
					i.fa.fa-money.fa-lg(aria-hidden='true')
					|  &nbsp; Revenue
				a.list-group-item(href='#')
					i.fa.fa-area-chart.fa-lg(aria-hidden='true')
					|  &nbsp; Stats
				a.list-group-item(href='/admin/logs')
					i.fa.fa-database.fa-lg(aria-hidden='true')
					|  &nbsp; Logs

		//- Middle 
		.col-lg-6
			.well
				p.text-center Number of Users : {{admin.users.length}}
			pre {{admin.users|json}}

		//- Right Side
		.col-lg-4

			.panel.panel-primary
				.panel-heading Some Management
				.panel-body Some Content

			.panel.panel-info
				.panel-heading Some Management
				.panel-body Some Content

			.panel.panel-warning
				.panel-heading Some Management
				.panel-body Some Content
