// also in account/profile/profile.scss
.profile-photo {

	i {
		padding: 10px 0;
		font-size: 100px;
	}
	img {
		width: 120px;
		height: 120px;
		margin-bottom: 10px;
		border: 3px solid #E7E7E7;
	}

}

// also in components/navbar/navbar.scss as #user_options img
.user-avatar {
  width: 20px;
  height: 20px;
}