.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', ng-click='$ctrl.isCollapsed = !$ctrl.isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      div.navbar-brand
        i.fa.fa-ravelry.fa-lg

    #navbar-main.navbar-collapse.collapse(uib-collapse='$ctrl.isCollapsed')

      //- Left Side
      ul.nav.navbar-nav

        //- Not Logged In
        li(ng-hide='$ctrl.isLoggedIn()', ng-repeat='item in $ctrl.menu', ng-class='{active: $ctrl.isActive(item.link)}')
          a(ng-href='{{item.link}}') {{item.title}}

        //- Logged In
        li(ng-show='$ctrl.isLoggedIn()', ng-class='{active: $ctrl.isActive("/dashboard")}')
          a(href='/dashboard') Dashboard

        li(ng-show='$ctrl.isLoggedIn()', ng-class='{active: $ctrl.isActive("/questions")}')
          a(href='/questions') Exchange

        li(ng-show='$ctrl.isLoggedIn()' ng-class='{active: $ctrl.isActive("/quiz")}')
          a(href='/quiz') Quizbox

        li.admin-zone(ng-show='$ctrl.isAdmin()', ng-class='{active: $ctrl.isActive("/admin")}')
          a(href='/admin') Admin

      //- Right Side
      ul.nav.navbar-nav.navbar-right

        //- Not Logged In
        li(ng-hide='$ctrl.isLoggedIn()', ng-class='{active: $ctrl.isActive("/signup")}')
          a(href='/signup') Sign up

        li(ng-hide='$ctrl.isLoggedIn()', ng-class='{active: $ctrl.isActive("/login")}')
          a(href='/login') Login

        //- Logged In
        li(ng-show='$ctrl.isLoggedIn()', uib-dropdown, ng-class='{active: $ctrl.isActive("/profile")}')
          a#user_options(href, uib-dropdown-toggle)
            span {{$ctrl.getCurrentUser().name}} &nbsp;
            i.fa.fa-user-circle-o.fa-lg(ng-hide='$ctrl.hasAvatar()')
            img.img-circle(ng-show='$ctrl.hasAvatar()', ng-src='assets/uploads/avatars/{{$ctrl.getCurrentUser().avatar}}', alt='Avatar')
          ul.dropdown-menu(uib-dropdown-menu, aria-labelledby='user_options')
            li
              a(href='/profile')
                span Profile
            li
              a(href='/settings')
                span Settings
            li
              a(href='/logout')
                span Logout &nbsp;
                i.fa.fa-sign-out

        li(ng-show='$ctrl.isLoggedIn()', uib-dropdown)
          a#messenger(href, uib-dropdown-toggle)
            i.fa.fa-comments-o.fa-lg
          ul.dropdown-menu.messenger-popup(uib-dropdown-menu, aria-labelledby='messenger')
            li
              span You have 2 new messages !
            li.divider(role="separator")
            li.text-center
              a(href='/#')
                strong See All
        
        li(ng-show='$ctrl.isLoggedIn()', uib-dropdown)
          a#notifications(href, uib-dropdown-toggle)
            i.fa.fa-bell-o.fa-lg
          ul.dropdown-menu.notifications-popup(uib-dropdown-menu, aria-labelledby='notifications')
            li
              span.text-muted No new notifications.
            li.divider(role="separator")
            li.text-center
              a(href='/#')
                strong See All

        li(ng-show='$ctrl.isLoggedIn()')
          a(href='/logout')
            i.fa.fa-sign-out.fa-lg

        





