div.navbar.navbar-default.navbar-static-top
  div.container
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='$ctrl.isCollapsed = !$ctrl.isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') odonata

    div#navbar-main.navbar-collapse.collapse(uib-collapse='$ctrl.isCollapsed')
      ul.nav.navbar-nav
        li(ng-hide='$ctrl.isLoggedIn()', ng-repeat='item in $ctrl.menu', ng-class='{active: $ctrl.isActive(item.link)}')
          a(ng-href='{{item.link}}') {{item.title}}

        li(ng-show='$ctrl.isLoggedIn()')
          a(href='#', ng-click='sidebarToggle.isCollapsedHorizontal = !sidebarToggle.isCollapsedHorizontal')
            span.glyphicon.glyphicon-align-justify

        li(ng-show='$ctrl.isLoggedIn()', ng-class='{active: $ctrl.isActive("/dashboard")}')
          a(href='/dashboard') Dashboard

        li(ng-class='{active: $ctrl.isActive("/questions")}')
          a(href='/questions') Q&amp;A

        li(ng-class='{active: $ctrl.isActive("/quiz")}')
          a(href='/quiz') QuizBox

        //- form.navbar-form.navbar-left(role='search', ng-submit='$ctrl.search(keyword)')
        //-   .input-group
        //-     input.form-control(type='text', placeholder='Search', ng-model='keyword') 
        //-     span.input-group-btn
        //-       button.btn.btn-default(type='submit')
        //-         span.glyphicon.glyphicon-search

        li(ng-show='$ctrl.isAdmin()', ng-class='{active: $ctrl.isActive("/admin")}')
          a(href='/admin') Admin

      ul.nav.navbar-nav.navbar-right
        li(ng-hide='$ctrl.isLoggedIn()', ng-class='{active: $ctrl.isActive("/signup")}')
          a(href='/signup') Sign up

        li(ng-hide='$ctrl.isLoggedIn()', ng-class='{active: $ctrl.isActive("/login")}')
          a(href='/login') Login

        li(ng-show='$ctrl.isLoggedIn()', ng-class='{active: $ctrl.isActive("/profile")}')
          a(href='/profile') {{ $ctrl.getCurrentUser().name }}

        li(ng-show='$ctrl.isLoggedIn()', ng-class='{active: $ctrl.isActive("/settings")}')
          a(href='/settings')
            span.glyphicon.glyphicon-cog

        li(ng-show='$ctrl.isLoggedIn()')
          a(href='/logout') Logout

