.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', ng-click='$ctrl.isCollapsed = !$ctrl.isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      div.navbar-brand
        i.fa.fa-ravelry.fa-lg

    #navbar-main.navbar-collapse.collapse(uib-collapse='$ctrl.isCollapsed')
      ul.nav.navbar-nav
        li(ng-hide='$ctrl.isLoggedIn()', ng-repeat='item in $ctrl.menu', ng-class='{active: $ctrl.isActive(item.link)}')
          a(ng-href='{{item.link}}') {{item.title}}

        //- li(ng-show='$ctrl.isLoggedIn()')
        //-   a(href='#', ng-click='isCollapsedHorizontal = !isCollapsedHorizontal')
        //-     span.glyphicon.glyphicon-align-justify

        li(ng-show='$ctrl.isLoggedIn()', ng-class='{active: $ctrl.isActive("/dashboard")}')
          a(href='/dashboard') Home

        li(ng-class='{active: $ctrl.isActive("/questions")}')
          a(href='/questions') Exchange

        li(ng-class='{active: $ctrl.isActive("/quiz")}')
          a(href='/quiz') Quizbox

        //- form.navbar-form.navbar-left(role='search', ng-submit='$ctrl.search(keyword)')
        //-   .input-group
        //-     input.form-control(type='text', placeholder='Search', ng-model='keyword') 
        //-     span.input-group-btn
        //-       button.btn.btn-default(type='submit')
        //-         span.glyphicon.glyphicon-search

        li(ng-show='$ctrl.isAdmin()', ng-class='{active: $ctrl.isActive("/admin")}')
          a(href='/admin') Admin

      ul.nav.navbar-nav.navbar-right
        li(ng-hide='$ctrl.isLoggedIn()', ng-class='{active: $ctrl.isActive("/signup")}')
          a(href='/signup') Sign up

        li(ng-hide='$ctrl.isLoggedIn()', ng-class='{active: $ctrl.isActive("/login")}')
          a(href='/login') Login

        //- li(ng-show='$ctrl.isLoggedIn()', ng-class='{active: $ctrl.isActive("/profile")}')
        //-   a(href='/profile')
        //-     span {{$ctrl.getCurrentUser().name}} &nbsp;
        //-     i.fa.fa-user-circle.fa-lg

        li(ng-show='$ctrl.isLoggedIn()', uib-dropdown, ng-class='{active: $ctrl.isActive("/profile")}')
            a#user_options(href, uib-dropdown-toggle)
              span {{$ctrl.getCurrentUser().name}} &nbsp;
              i.fa.fa-user-circle.fa-lg
            ul.dropdown-menu(uib-dropdown-menu, aria-labelledby='user_options')
              li
                a(href='/profile')
                  span Profile
              li
                a(href='/settings')
                  span Account Settings
              li
                a(href='/logout')
                  span Logout &nbsp;
                  i.fa.fa-sign-out

        li(ng-show='$ctrl.isLoggedIn()', uib-dropdown)
            a#messenger(href, uib-dropdown-toggle)
              i.fa.fa-comments-o.fa-lg
            ul.dropdown-menu(uib-dropdown-menu, aria-labelledby='messenger')
              p You have a new message !
        
        li(ng-show='$ctrl.isLoggedIn()', ng-class='{active: $ctrl.isActive("/#")}')
          a(href='#')
            i.fa.fa-bell-o.fa-lg

        //- li(ng-show='$ctrl.isLoggedIn()', ng-class='{active: $ctrl.isActive("/settings")}')
        //-   a(href='/settings')
        //-     i.fa.fa-cog.fa-lg

        li(ng-show='$ctrl.isLoggedIn()')
          a(href='/logout')
            i.fa.fa-sign-out.fa-lg

        





