header#banner.hero-unit
	.container
		h1.lead Users Management
br
.container
	.row
		.col-md-12

			ol.breadcrumb
				li
					a(href='/admin') Admin
				li.active Users

			p The delete user and user index api routes are restricted to users with the 'admin' role.
			ul.list-group
				li.list-group-item(ng-repeat='user in admin.users')
					strong {{user.name}}
					br
					span.text-muted {{user.email}}
					br
					span.text-muted Role: {{user.role}}
					a.trash(ng-click='admin.delete(user)')
						span.glyphicon.glyphicon-trash.pull-right