header#banner.hero-unit
	.container
		h1.lead Users Management
br
.container-fluid
	.row

		//- Left Side
		.col-lg-2
			admin-sidebar

		//- Right Side
		.col-lg-10

			.alert.alert-info
				p.text-center
					strong {{admin.users.length}} Users

			ul.list-group
				li.list-group-item(ng-repeat='user in admin.users')
					.row

						.col-sm-1.text-center
							i.fa.fa-user-circle-o.fa-3x.text-muted(aria-hidden='true', ng-hide='admin.userHasAvatar(user)')
							img.img-circle.user-list-avatar(ng-show='admin.userHasAvatar(user)', ng-src='assets/uploads/avatars/{{user.avatar}}', alt='Avatar')

						.col-sm-8
							strong {{user.name}}
							br
							span.text-muted {{user.email}}
							
						.col-sm-2
							span.text-muted {{user.role}}

						.col-sm-1
							a.trash(ng-click='admin.delete(user)').pull-right
								i.fa.fa-trash-o.fa-lg