sidebar
.container
	.row
		.col-md-9
			h1.page-header Dashboard
			p This is the dashboard view.
			div.alert.alert-success(role="alert") Just
			div.alert.alert-info(role="alert") Testing
		.col-md-3
			p This is the dashboard view.
			div.alert.alert-info(role="alert") L
			div.alert.alert-warning(role="alert") O
			div.alert.alert-danger(role="alert") L

	.row
		.col-md-3
			ul.list-group
				li.list-group-item Cras justo odio
					span.badge 3
				li.list-group-item Dapibus ac facilisis in
					span.badge 5
				li.list-group-item Morbi leo risus
					span.badge 26
				li.list-group-item Porta ac consectetur ac
					span.badge 9
				li.list-group-item Vestibulum at eros
					span.badge 14
				li.list-group-item Cras justo odio
					span.badge 3
				li.list-group-item Dapibus ac facilisis in
					span.badge 5
				li.list-group-item Morbi leo risus
					span.badge 26
				li.list-group-item Porta ac consectetur ac
					span.badge 9
				li.list-group-item Vestibulum at eros
					span.badge 14
		.col-md-9
			div.progress
				div.progress-bar.progress-bar-success(style="width: 35%")
					span.sr-only 35% Complete (Success)
				div.progress-bar.progress-bar-info.progress-bar-striped(style="width: 20%")
					span.sr-only 20% Complete (Warning)
				div.progress-bar.progress-bar-danger(style="width: 10%")
					span.sr-only 10% Complete (Danger)
			div.well.well-lg
				div.embed-responsive.embed-responsive-16by9
					iframe.embed-responsive-item(src="https://www.youtube.com/embed/QH2-TGUlwu4" allowfullscreen)

	.row
		.col-md-9
			div.panel.panel-default.panel-primary
				div.panel-heading
					h3.panel-title Panel Title
				div.panel-body Panel Content
				div.panel-footer Panel Footer

			