header#banner.hero-unit
	.container
		h1.lead Dashboard
br
.container
	.row
		.col-md-9
			.alert.alert-success(role="alert") Just
			.alert.alert-info(role="alert") Testing
			.alert.alert-info(role="alert") Meh
		.col-md-3
			.alert.alert-info(role="alert") L
			.alert.alert-warning(role="alert") O
			.alert.alert-danger(role="alert") L
	.row
		.col-md-3
			ul.list-group
				li.list-group-item Cras justo odio
					span.badge 3
				li.list-group-item Dapibus ac facilisis in
					span.badge 5
				li.list-group-item Morbi leo risus
					span.badge 26
				li.list-group-item Porta ac consectetur ac
					span.badge 9
				li.list-group-item Vestibulum at eros
					span.badge 14
		.col-md-9
			div.panel.panel-default.panel-primary
				div.panel-heading
					h3.panel-title Panel Title
				div.panel-body Panel Content
				div.panel-footer Panel Footer
