header#banner.hero-unit
  .container
    h1.lead New Quizz !
br
.container
  form(name='quizForm', ng-submit='vm.submitQuiz()')

    .well
      h2.lead Quiz Title
      input.form-control(type='text', ng-model='vm.quiz.title', placeholder='Title', required)

    .well
      h2.lead Quiz Description
      input.form-control(type='text', ng-model='vm.quiz.description', placeholder='Description', required)

    .well(ng-repeat='question in vm.quiz.questions track by $index')
      h2.lead Setup Question {{$index+1}}
      input.form-control(type='text', ng-model='question.content', placeholder='New Question', required)
      br
      button.btn.btn-danger(type='button', ng-click='vm.removeQuestion($index)') Remove Question
      hr

      .row
        .col-md-6
          .panel.panel-info
            .panel-heading
              h4 Question {{$index+1}} Answers
            .panel-body
              .form-inline(ng-repeat='option in question.options track by $index')
                input.form-control(type='text', ng-model='option.text', placeholder='New Answer', required)
                button.btn.btn-danger(type='button', ng-click='vm.removeOption(question, $index)')
                  span.glyphicon.glyphicon-minus
              br
              button.btn.btn-success(type='button', ng-click='vm.addOption(question)') Add Answer
        .col-md-6
          .panel.panel-info
            .panel-heading
              h4 Choose the Good Answer
            .panel-body
              .radio(ng-repeat='option in question.options track by $index')
                label
                  input(type='radio', ng-model='question.answer', value='{{$index}}', required)
                  | {{$index+1}}

    button.btn.btn-success(type='button', ng-click='vm.addQuestion()') Add New Question
    hr

    .well
      p FINAL Quiz Object :
      pre {{vm.quiz|json}}

    hr
    input.btn.btn-primary(type='submit', ng-disabled='quizForm.$invalid', value='Create')
    hr
