.sidebar
  button.btn.btn-default(type='button', ng-init="isCollapsedHorizontal = false", ng-click='isCollapsedHorizontal = !isCollapsedHorizontal')
      span.glyphicon.glyphicon-align-justify
  .horizontal-collapse(uib-collapse='isCollapsedHorizontal', horizontal)
    .input-group
      input.form-control(type='text', placeholder='Search')
      span.input-group-btn
        button.btn.btn-default(type='button')
          span.glyphicon.glyphicon-search
    ul.list-group
      a.list-group-item(href='#') Link 1
        span.badge 3
      a.list-group-item(href='#') Link 2
        span.badge 5
      a.list-group-item(href='#') Link 3
        span.badge 6
      a.list-group-item(href='#') Link 4
        span.badge 14
      a.list-group-item(href='#') Link 5
        span.badge 1
      a.list-group-item(href='#') Link 6
        span.badge 8
      a.list-group-item(href='#') Link 7
        span.badge 12

