.container
  .sidebar(ng-controller='sidebarComponent', sidebar-directive='state')
    a#navigation-toggle(href='#', ng-click='toggleState()') Navigation
    ul.navigation
      li.navigation-items
        a(href='/') Link 1
      li.navigation-items
        a(href='/') Link 2
      li.navigation-items
        a(href='/') Link 3
      li.navigation-items
        a(href='/') Link 4
      li.navigation-items
        a(href='/') Link 5
