.sidebar
  //- button.btn.btn-default(type='button', ng-click='isCollapsedHorizontal = !isCollapsedHorizontal')
  //-     span.glyphicon.glyphicon-align-justify
  .horizontal-collapse(uib-collapse='isCollapsedHorizontal', horizontal)
    //- .input-group
    //-   input.form-control(type='text', placeholder='Search')
    //-   span.input-group-btn
    //-     button.btn.btn-default(type='button')
    //-       span.glyphicon.glyphicon-search
    .list-group
      a.list-group-item(href='#')
        i.fa.fa-home.fa-lg(aria-hidden='true')
        |  &nbsp; Home
      a.list-group-item(href='#')
        i.fa.fa-book.fa-lg(aria-hidden='true')
        |  &nbsp; Library
      a.list-group-item(href='#')
        i.fa.fa-pencil.fa-lg(aria-hidden='true')
        |  &nbsp; Applications
      a.list-group-item(href='#')
        i.fa.fa-cog.fa-lg(aria-hidden='true')
        |  &nbsp; Settings
      a.list-group-item(href='#')
        i.fa.fa-home.fa-lg(aria-hidden='true')
        |  &nbsp; Home
      a.list-group-item(href='#')
        i.fa.fa-book.fa-lg(aria-hidden='true')
        |  &nbsp; Library
      a.list-group-item(href='#')
        i.fa.fa-pencil.fa-lg(aria-hidden='true')
        |  &nbsp; Applications
      a.list-group-item(href='#')
        i.fa.fa-cog.fa-lg(aria-hidden='true')
        |  &nbsp; Settings


