.portal
	header#banner.hero-unit
		.container
			h1.lead Portal
	br
	.container-fluid 
		.row

			//- Left Side
			.col-md-2
				portal-sidebar

			//- Middle Side
			.col-md-5
				.panel.panel-default
					.panel-body Some Content

			//- Right Side
			.col-md-5
				.panel.panel-default
					.panel-body Some Content
