.portal
	header#banner.hero-unit
		.container
			h1.lead Portal
	br
	.container-fluid 
		.row

			//- Left Side
			.col-md-2
				portal-sidebar

			//- Middle Side
			.col-md-8
				.panel.panel-default
					.panel-body Some Content

			//- Right Side
			.col-md-2
				.panel.panel-default(ng-repeat='(name, points) in vm.userScore.points')
					.panel-body.bg-info.text-center
						p {{name}}
						p {{points}}
