.portal
	header#banner.hero-unit
		.container
			h1.lead Portal
	br
	.container-fluid 
		.row

			//- Left Side
			.col-md-2
				.list-group
					a.list-group-item.active(href='/')
						i.fa.fa-home.fa-lg(aria-hidden='true')
						|  &nbsp; Home
					a.list-group-item(href='#')
						i.fa.fa-pencil.fa-lg(aria-hidden='true')
						|  &nbsp; Notes
					a.list-group-item(href='#')
						i.fa.fa-book.fa-lg(aria-hidden='true')
						|  &nbsp; Library

			//- Middle Side
			.col-md-5
				.panel.panel-default
					.panel-body Some Content

			//- Right Side
			.col-md-5
				.panel.panel-default
					.panel-body Some Content
