header#banner.hero-unit
	.container
		h1.lead Profile
br
.container
	.row
		.col-md-12
			.well
				p getCurrentUser.name : {{vm.getCurrentUser().name}}
				p isAdmin : {{vm.isAdmin()}}
				p isLoggedIn : {{vm.isLoggedIn()}}
