header#banner.hero-unit
	.container
		h1.lead Logs
br
.container-fluid
	.row
		
		//- Left Side
		.col-lg-2
			admin-sidebar

		//- Right Side
		.col-lg-10

			.panel.panel-default
				.panel-body
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin convallis ipsum nec pharetra molestie. Maecenas eget laoreet sapien. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis consequat metus sed nisi porta auctor. Suspendisse potenti. Vivamus tristique sapien et turpis gravida, a vehicula massa bibendum. Nam nisl dolor, venenatis eu feugiat ut, bibendum quis ligula.
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin convallis ipsum nec pharetra molestie. Maecenas eget laoreet sapien. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis consequat metus sed nisi porta auctor. Suspendisse potenti. Vivamus tristique sapien et turpis gravida, a vehicula massa bibendum. Nam nisl dolor, venenatis eu feugiat ut, bibendum quis ligula.