header#banner.hero-unit
  .container
    h1.lead Profile
br
.container
  p isLoggedIn : {{ vm.isLoggedIn() }}
  p getCUrrentUser.name : {{ vm.getCurrentUser().name }}
  p isAdmin : {{ vm.isAdmin() }}
  