p This is the profile view

div(ng-show='profileCtrl.isLoggedIn()')
  p isLoggedIn : {{ profileCtrl.isLoggedIn() }}
  p getCUrrentUser.name : {{ profileCtrl.getCurrentUser().name }}
  p isAdmin : {{ profileCtrl.isAdmin() }}