header#banner.hero-unit
  .container
    h1 {{vm.quiz.title}}
    p Created by {{vm.quiz.user.name}}
    h2.lead {{vm.quiz.description}}
br
.container

  .intro(ng-show='!vm.inProgress')
    p.lead {{vm.quiz.questions.length}} Questions
    button.btn.btn-success(type='button', ng-click='vm.startQuiz()') Start {{vm.quiz.title}}
    hr

  .quiz-area(ng-show='vm.inProgress')

    div(ng-show='!vm.quizOver')

      p.lead(style='text-align: center') Question {{vm.id+1}} / {{vm.quiz.questions.length}}

      .progress
        .progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='{{vm.quizProgress}}', aria-valuemin='0', aria-valuemax='100', style='width: {{vm.quizProgress}}%;')
          span.sr-only {{vm.quizProgress}} %

      .panel.panel-info.quizCard
        .panel-heading Q: {{vm.question}}


        ul.list-group(ng-if="vm.ofType=='QCM'")
          li.list-group-item(ng-repeat='option in vm.options')
            label
              input(type='radio', ng-model='vm.selectedOption', name='user_answer', value='{{option}}', required)
              | {{option}}


        .panel-body(ng-if="vm.ofType=='FTB'")
          .row
            .col-md-6.col-md-offset-3
              .input-group
                span.input-group-addon A: 
                input.form-control(type='text', ng-model='vm.selectedOption', name='user_answer', placeholder='Your Answer', required)


      button.btn.btn-success(ng-click='vm.checkAnswer()', ng-show='vm.answerMode') Submit

      div(ng-show='!vm.answerMode')

        .alert.alert-success(ng-show='vm.correctAns')
          span.glyphicon.glyphicon-ok
          span Correct !

        .alert.alert-danger(ng-show='!vm.correctAns')
          span.glyphicon.glyphicon-remove
          span Sorry, Incorrect Answer.

        button.btn.btn-info(ng-click='vm.nextQuestion()')
          span Next

    .quiz-result(ng-show='vm.quizOver')

      h2.lead Thank you for playing !
      .well
        p.lead {{vm.score}} Correct Answer(s)
        p.lead
          span Score : 
          strong {{vm.scorePercent}} %

      button.btn.btn-success(ng-click='vm.resetQuiz()') Play Again
      hr

