header#banner.hero-unit
  .container
    h1.lead {{vm.quiz.title}}
    p.lead {{vm.quiz.description}}
br
.container

  .intro(ng-show='!vm.inProgress')
    p.lead {{vm.quiz.questions.length}} Questions
    button.btn.btn-success(type='button', ng-click='vm.startQuiz()') Start {{vm.quiz.title}}
    hr

  .quiz-area(ng-show='vm.inProgress')

    div(ng-show='!vm.quizOver')

      p.lead(style='text-align: center') Question {{vm.id+1}} / {{vm.quiz.questions.length}}
      .panel.panel-info
        .panel-heading Q: {{vm.question}}
        ul.list-group
          li.list-group-item(ng-repeat='option in vm.options')
            label
              input(type='radio', ng-model='vm.selectedOption', name='answer', value='{{option.text}}')
              | {{option.text}}

      button.btn.btn-success(ng-click='vm.checkAnswer()', ng-show='vm.answerMode') Submit

      div(ng-show='!vm.answerMode')

        .alert.alert-success(ng-show='vm.correctAns')
          span.glyphicon.glyphicon-ok
          span Correct !

        .alert.alert-danger(ng-show='!vm.correctAns')
          span.glyphicon.glyphicon-remove
          span Sorry, Incorrect Answer.

        button.btn.btn-info(ng-click='vm.nextQuestion()')
          span Next

    div.quiz-result(ng-show='vm.quizOver')

      h2.lead Thank you for playing !
      hr
      p.lead Your Score : {{vm.score}} / {{vm.quiz.questions.length}}
      p.lead
        strong {{vm.scorePercent}}
        | %
      hr
      button.btn.btn-success(ng-click='vm.resetQuiz()') Play Again
      hr

