header#banner.hero-unit
  .container
    h1.lead {{vm.quiz.title}}
    p.lead {{vm.quiz.description}}
br
//- .container
//-   pre {{vm.quiz|json}}
//- br
.container
  br
  .intro(ng-show='!vm.inProgress') 
    button.btn.btn-success(type='button', ng-click='vm.startQuiz()') Start {{vm.quiz.title}}
    hr

  .quiz-area(ng-show='vm.inProgress')

    div(ng-show='!vm.quizOver')

      .panel.panel-info
        .panel-heading {{vm.question}}
        ul.list-group
          li.list-group-item(ng-repeat='option in vm.options')
            label
              input(type='radio', ng-model='vm.selectedOption', name='answer', value='{{option.text}}')
              | {{option.text}}

      button.btn.btn-success(ng-click='vm.checkAnswer()', ng-show='vm.answerMode') Submit

      div(ng-show='!vm.answerMode')

        .alert.alert-success(ng-show='vm.correctAns')
          span.glyphicon.glyphicon-ok
          span Correct !

        .alert.alert-danger(ng-show='!vm.correctAns')
          span.glyphicon.glyphicon-remove
          span Sorry, Incorrect Answer.

        button.btn.btn-info(ng-click='vm.nextQuestion()')
          span Next Question

    div.quiz-result(ng-show='vm.quizOver')

      h2.lead Quiz is over ! 
      button.btn.btn-success(ng-click='vm.resetQuiz()') Play again
      hr
    //- #score  Score: {{vm.score}}

