header#banner.hero-unit
  .container
    h1.lead Question
br
#question-show-container.container
  .row
    .col-md-12

      //- Question
      h2
        div(ng-if='!editingQ') {{vm.question.title}}
        input.form-control(type='text', ng-model='vm.question.title', ng-if='editingQ')

      //- Question Tags
      span(ng-if='!editingQ', ng-repeat='tag in vm.question.tags')
        span.label.label-info {{tag.text}}
        span &nbsp;
      tags-input(ng-if='editingQ', ng-model='vm.question.tags', name='question_tags', add-on-paste='true', required)
      hr

  .row
    .col-md-9

      .row
        .col-md-1
          .well.question-content-triggers.text-center

            //- Question VoteUp

            //- Owner cannot vote for his own Question => Non-Clickable Lightgrey Arrow
            button.voteup-cannot(ng-if="vm.isOwner(vm.question)", type='button', uib-tooltip='You cannot vote for your question', tooltip-placement='left')
              i.fa.fa-chevron-circle-up
            //- Not Owner, already Upvoted for this Question => Non-Clickable Green Arrow
            button.is-upvoted(ng-if="!vm.isOwner(vm.question) && vm.isUpVoted(vm.question)", type='button', uib-tooltip='You already voted for this question', tooltip-placement='left')
              i.fa.fa-chevron-circle-up
            //- Not Owner, already Downvoted for this Question => Non-Clickable Lightgrey Arrow
            button.voteup-cannot(ng-if="!vm.isOwner(vm.question) && vm.isDownVoted(vm.question)", type='button', uib-tooltip='You already voted for this question', tooltip-placement='left')
              i.fa.fa-chevron-circle-up
            //- Logged In and Not Owner, no Upvote and no Downvote => Can vote : Clickable Dark Grey Arrow
            button.voteup(ng-if="vm.isLoggedIn() && !vm.isOwner(vm.question) && !vm.isUpVoted(vm.question) && !vm.isDownVoted(vm.question)", type='button', ng-click="vm.voteUp('')")
              i.fa.fa-chevron-circle-up
            //- Not Logged In and Not Owner, didn't Upvote => Need to login : Dark Grey Arrow for Redirect
            button.voteup(ng-if="!vm.isLoggedIn() && !vm.isOwner(vm.question) && !vm.isUpVoted(vm.question)", type='button', uib-tooltip='You need to login to vote', tooltip-placement='left')
              i.fa.fa-chevron-circle-up

            //- Question Votes Count
            div {{vm.question.votecount}}

            //- Question Down

            //- Owner cannot vote for his own Question => Non-Clickable Lightgrey Arrow
            button.votedown-cannot(ng-if="vm.isOwner(vm.question)", type='button', uib-tooltip='You cannot vote for your question', tooltip-placement='left')
              i.fa.fa-chevron-circle-down
            //- Not Owner, already Downvoted for this Question => Non-Clickable Red Arrow
            button.is-downvoted(ng-if="!vm.isOwner(vm.question) && vm.isDownVoted(vm.question)", type='button', uib-tooltip='You already voted for this question', tooltip-placement='left')
              i.fa.fa-chevron-circle-down
            //- Not Owner, already Upvoted for this Question => Non-Clickable Lightgrey Arrow
            button.votedown-cannot(ng-if="!vm.isOwner(vm.question) && vm.isUpVoted(vm.question)", type='button', uib-tooltip='You already voted for this question', tooltip-placement='left')
              i.fa.fa-chevron-circle-down
            //- Logged In and Not Owner, no Upvote and no Downvote => Can vote : Clickable Dark Grey Arrow
            button.votedown(ng-if="vm.isLoggedIn() && !vm.isOwner(vm.question) && !vm.isDownVoted(vm.question) && !vm.isUpVoted(vm.question)", type='button', ng-click="vm.voteDown('')")
              i.fa.fa-chevron-circle-down
            //- Not Logged In and Not Owner, didn't Downvote => Need to login : Dark Grey Arrow for Redirect
            button.votedown(ng-if="!vm.isLoggedIn() && !vm.isOwner(vm.question) && !vm.isDownVoted(vm.question)", type='button', uib-tooltip='You need to login to vote', tooltip-placement='left')
              i.fa.fa-chevron-circle-down

            //- Question Unstar
            button.remove-star(ng-if='vm.isStar(vm.question)', type='button', uib-tooltip='Remove from your Favorites', tooltip-placement='left', ng-click="vm.unstar()")
              i.fa.fa-star.fa-lg

            //- Question Star
            button.add-star(ng-if='!vm.isStar(vm.question)', type='button', uib-tooltip='Add to your Favorites', tooltip-placement='left', ng-click="vm.star()")
              i.fa.fa-star-o.fa-lg

            //- Question Stars Count
            div.star-count {{vm.question.stars.length}}

        .col-md-11
          .well

            //- Question Content
            .question-content(ng-if='!editingQ') {{vm.question.content}}

            //- Question Edition
            textarea.form-control(rows='7', ng-model='vm.question.content', ng-if='editingQ')
            br
            button.btn.btn-success(type='submit', ng-click='editingQ=false; vm.updateQuestion()', ng-show='editingQ') Save Changes

            //- Question Author
            .text-right
              | by 
              a(ng-href='/users/{{vm.question.user._id}}') {{vm.question.user.name}}
              |  &middot; {{vm.question.createdAt|date:'medium'}}

            //- Question Author buttons
            button.btn.btn-info(ng-click='editingQ=!editingQ;', ng-show='vm.isOwner(vm.question) && !editingQ', uib-tooltip='Edit', tooltip-placement='left')
              i.fa.fa-pencil-square-o
            button.btn.btn-danger(ng-if='vm.isOwner(vm.question) && !editingQ', type='button', ng-click='vm.deleteQuestion()', uib-tooltip='Delete Question', tooltip-placement='right')
              i.fa.fa-trash-o

          .comment
            .well.well-sm(ng-repeat='comment in vm.question.comments')

              //- Question.Comment Content
              .question-comment-count
                //- Previously Question.Comment stars count
                span 0 &nbsp;
              .question-comment-content(ng-if='!editingC') {{comment.content}}

              //- Question.Comment Edition
              input.form-control(ng-if='editingC', type='text', ng-model='comment.content')
              br
              button.btn.btn-success(ng-show='editingC', type='submit', ng-click='editingC=false; vm.updateComment(comment)') Save 

              //- Question.Comment Author
              .text-right
                | by 
                a(ng-href='/users/{{comment.user._id}}') {{comment.user.name}}
                |  &middot; {{comment.createdAt|date:'medium'}}
              .clearfix

              //- Question.Comment Author buttons
              button.btn.btn-info.btn-sm(ng-click='editingC=!editingC;', ng-show='vm.isOwner(comment) && !editingC', uib-tooltip='Edit', tooltip-placement='left')
                i.fa.fa-pencil-square-o
              button.btn.btn-danger.btn-sm(ng-if='vm.isOwner(comment) && !editingC', type='button', ng-click='vm.deleteComment(comment)', uib-tooltip='Delete', tooltip-placement='right')
                i.fa.fa-trash-o

            //- Submit New Question.Comment
            a(ng-click='editNewComment=!editNewComment;') Add a comment
            form(ng-if='editNewComment', name='commentForm', ng-submit='vm.submitComment()')
              textarea.form-control(rows='2', ng-model='vm.newComment.content', name='commentEditor', required)
              br
              input.btn.btn-primary(type='submit', ng-disabled='commentForm.$invalid', value='Submit Comment')

      .row
        .col-md-12
          hr
          h3 {{vm.question.answers.length}} Answers
          hr

      //- Display Answers by Best first, Votes second
      .row(ng-repeat='answer in vm.question.answers|orderBy:["-best", "-votecount"]')

        .col-md-1
          .well.answer-content-triggers.text-center

            //- Answer VoteUp

            //- Owner cannot vote for his own Answer => Non-Clickable Lightgrey Arrow
            button.voteup-cannot(ng-if="vm.isOwner(answer)", type='button', uib-tooltip='You cannot vote for your Answer', tooltip-placement='left')
              i.fa.fa-chevron-circle-up
            //- Not Owner, already Upvoted for this Answer => Non-Clickable Green Arrow
            button.is-upvoted(ng-if="!vm.isOwner(answer) && vm.isUpVoted(answer)", type='button', uib-tooltip='You already voted for this Answer', tooltip-placement='left')
              i.fa.fa-chevron-circle-up
            //- Not Owner, already Downvoted for this Answer => Non-Clickable Lightgrey Arrow
            button.voteup-cannot(ng-if="!vm.isOwner(answer) && vm.isDownVoted(answer)", type='button', uib-tooltip='You already voted for this Answer', tooltip-placement='left')
              i.fa.fa-chevron-circle-up
            //- Logged In and Not Owner, no Upvote and no Downvote => Can vote : Clickable Dark Grey Arrow
            button.voteup(ng-if="vm.isLoggedIn() && !vm.isOwner(answer) && !vm.isUpVoted(answer) && !vm.isDownVoted(answer)", type='button', ng-click="vm.voteUp('/answers/' + answer._id)")
              i.fa.fa-chevron-circle-up
            //- Not Logged In and Not Owner, didn't Upvote => Need to login : Dark Grey Arrow for Redirect
            button.voteup(ng-if="!vm.isLoggedIn() && !vm.isOwner(answer) && !vm.isUpVoted(answer)", type='button', uib-tooltip='You need to login to vote', tooltip-placement='left')
              i.fa.fa-chevron-circle-up

            //- Answer Votes Count
            div {{answer.votecount}}

            //- Answer VoteDown

            //- Owner cannot vote for his own Answer => Non-Clickable Lightgrey Arrow
            button.votedown-cannot(ng-if="vm.isOwner(answer)", type='button', uib-tooltip='You cannot vote for your Answer', tooltip-placement='left')
              i.fa.fa-chevron-circle-down
            //- Not Owner, already Downvoted for this Answer => Non-Clickable Red Arrow
            button.is-downvoted(ng-if="!vm.isOwner(answer) && vm.isDownVoted(answer)", type='button', uib-tooltip='You already voted for this Answer', tooltip-placement='left')
              i.fa.fa-chevron-circle-down
            //- Not Owner, already Upvoted for this Answer => Non-Clickable Lightgrey Arrow
            button.votedown-cannot(ng-if="!vm.isOwner(answer) && vm.isUpVoted(answer)", type='button', uib-tooltip='You already voted for this Answer', tooltip-placement='left')
              i.fa.fa-chevron-circle-down
            //- Logged In and Not Owner, no Upvote and no Downvote => Can vote : Clickable Dark Grey Arrow
            button.votedown(ng-if="vm.isLoggedIn() && !vm.isOwner(answer) && !vm.isDownVoted(answer) && !vm.isUpVoted(answer)", type='button', ng-click="vm.voteDown('/answers/' + answer._id)")
              i.fa.fa-chevron-circle-down
            //- Not Logged In and Not Owner, didn't Downvote => Need to login : Dark Grey Arrow for Redirect
            button.votedown(ng-if="!vm.isLoggedIn() && !vm.isOwner(answer) && !vm.isDownVoted(answer)", type='button', uib-tooltip='You need to login to vote', tooltip-placement='left')
              i.fa.fa-chevron-circle-down

            //- Answer Best
            button.answer-best(ng-if='answer.best', type='button', uib-tooltip='This Answer has been selected as Best', tooltip-placement='bottom')
              i.fa.fa-check.fa-lg

            //- Answer Best Selection
            button.answer-select(ng-if='!vm.question.hasBest && vm.isOwner(vm.question) && !vm.isOwner(answer)', type='button', uib-tooltip='Choose this Answer as Best', tooltip-placement='bottom', ng-click='vm.bestAnswer(answer)')
              i.fa.fa-check.fa-lg

        .col-md-11
          .well
            //- Answer Content
            .answer-content(ng-if='!editingA') {{answer.content}}

            //- Answer Edition
            textarea.form-control(ng-if='editingA', rows='3', ng-model='answer.content')
            br
            button.btn.btn-success(ng-show='editingA', type='submit', ng-click='editingA=false; vm.updateAnswer(answer)') Save

            //- Answer Author
            .text-right
              | by 
              a(ng-href='/users/{{answer.user._id}}') {{answer.user.name}}
              |  &middot; {{answer.createdAt|date:'medium'}}
            .clearfix

            //- Answer Author buttons
            button.btn.btn-info(ng-click='editingA=!editingA;', ng-show='vm.isOwner(answer) && !editingA', uib-tooltip='Edit', tooltip-placement='left')
              i.fa.fa-pencil-square-o
            button.btn.btn-danger(ng-if='vm.isOwner(answer) && !editingA', type='button', ng-click='vm.deleteAnswer(answer)', uib-tooltip='Delete Answer', tooltip-placement='right')
              i.fa.fa-trash-o

          .comment
            .well.well-sm(ng-repeat='comment in answer.comments')

              //- Answer.Comment Content
              .answer-comment-count
                //- Previously Answer.Comment stars count
                span 0 &nbsp;
              .answer-comment-content(ng-if='!editingAC') {{comment.content}}

              //- Answer.Comment Edition
              input.form-control(ng-if='editingAC', type='text', ng-model='comment.content')
              br
              button.btn.btn-success(ng-show='editingAC', type='submit', ng-click='editingAC=false; vm.updateAnswerComment(answer, comment)') Save

              //- Answer.Comment Author
              .text-right
                | by 
                a(ng-href='/users/{{comment.user._id}}') {{comment.user.name}}
                |  &middot; {{comment.createdAt|date:'medium'}}
              .clearfix

              //- Answer.Comment Author buttons
              button.btn.btn-info.btn-sm(ng-click='editingAC=!editingAC;', ng-show='vm.isOwner(comment) && !editingAC', uib-tooltip='Edit', tooltip-placement='left')
                i.fa.fa-pencil-square-o
              button.btn.btn-danger.btn-sm(ng-if='vm.isOwner(comment) && !editingAC', type='button', ng-click='vm.deleteAnswerComment(answer, comment)', uib-tooltip='Delete', tooltip-placement='right')
                i.fa.fa-trash-o
      
            //- Submit New Answer.Comment
            a(ng-click='editNewAnswerComment=!editNewAnswerComment; answer.newAnswerComment={}') Add a comment

            form(ng-if='editNewAnswerComment', name='answer_{{answer.id}}_comment')
              textarea.form-control(rows='2', ng-model='answer.newAnswerComment.content', required)
              button.btn.btn-primary(type='submit', ng-click='vm.submitAnswerComment(answer)', ng-disabled='answer_{{answer.id}}_comment.$invalid') Add Comment
          hr

      .row
        .col-md-12

          //- Submit New Answer
          h3 Your Answer
          form(name='answerForm', ng-submit='vm.submitAnswer()')
            textarea.form-control(rows='3', ng-model='newAnswer.content', name='answerEditor', required)
            br
            input.btn.btn-success(type='submit', ng-disabled='answerForm.$invalid', value='Submit Answer')

    .col-md-3

      .panel.panel-default
        .panel-body
          p Asked &nbsp; {{vm.question.createdAt|date:'mediumDate'}}
          p Viewed &nbsp; {{vm.question.views}} times

      .panel.panel-warning
        .panel-heading
          h3.panel-title Featured
        .panel-body  Some Content

      .panel.panel-success
        .panel-heading
          h3.panel-title Related
        .panel-body  Some Content





